/* 
    Document   : Clients
    Created on : 14/02/2012, 15:30:58
    Author     : 92335667572
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

