RewriteEngine On
RewriteBase /
RewriteRule ^download/(.+)$ download.php?download=yes&file=/tmp/messenger/$1 [L]
RewriteRule ^nodownload/(.+)$ download.php?download=no&file=/tmp/messenger/$1 [L]
RewriteRule ^history$ savehistory.php [L]
