<?php
// TODO: rename to config.inc.php and add your database settings

// minimal configuration
return array(
	'database' => array(
		'host'          => 'ENTER DATABASE HOSTNAME',
		'dbname'            => 'ENTER DATABASE NAME',
		'username'      => 'ENTER DATABASE USERNAME',
		'password'      => 'ENTER DATABASE PASSWORD',
		'adapter'       => 'pdo_mysql',
		'tableprefix'   => 'tine20_',
	), 
  'setupuser' => 
  array (
    'username' => 'admin',
    'password' => 'e8d95a51f3af4a3b134bf6bb680a213a',
  ),
  'logger' => 
  array (
    'active' => true,
    'priority' => 7,
    'filename' => '/tmp/tine.log',
  ),
  'caching' => 
  array (
    'active' => false,
    'lifetime' => '',
    'path' => '',
  ),
  'tmpdir' => '/tmp',
  'session' => 
  array (
    'lifetime' => 86400,
    'backend' => 'File',
    'path' => '',
    'host' => 'localhost',
    'port' => 6379,
  ),
  'filesdir' => '',
  'mapPanel' => '',
  'themes' => array(
	'default' => 1,
	'themelist' => array(
		0 => array(
			'name' =>'TineSkin',
			'path' => 'styles/tine20.css',
			'useBlueAsBase' => 1,
		),
		1 => array(
			'name' =>'Expresso 3.0',
			'path' => 'themes/expresso30/resources/css/ext-all.css',
		),

	),
  ),
);
