#messenger {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

#messenger:hover {
    text-decoration: underline;
}

.messenger-icon {
    background-image: url(/images/messenger/talk-balloons.png);
    background-repeat: no-repeat;
    padding-left: 12px;
}
.messenger-icon-off {
    background-image: url(/images/messenger/talk-balloons-off.png);
    background-repeat: no-repeat;
    padding-left: 12px;
}

.chat-message {
    font-size: 1.2em;
    padding: 4px;
    border-bottom: 1px solid #bebebe;
}

.chat-message .x-panel-body {
    border: 0;
}

.text-sender {
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.messenger-receive {
    color: blue;
}

.messenger-receive strong {
    color: #0000a8;
    font-weight: bold;
}

.messenger-send {
    color: red;
}

.messenger-send strong {
    color: #a80000;
    font-weight: bold;
}

.messenger-notify {
    color: green;
    font-weight: bold;
}
.messenger-treeview .x-panel-body {
    min-width: 180px;
}

.messenger-contact {
    font-size: 12px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    font-weight: bold;
}

.messenger-contact.unavailable {
    background-image: url(/images/messenger/icon_unavailable.png);
    font-weight: 400;
}

.messenger-contact.unavailable span[unselectable] {
    color: #B3B3B3;
}

.messenger-contact.available {
    background-image: url(/images/messenger/icon_available.png);
}

.messenger-contact.away {
    background-image: url(/images/messenger/icon_away.png);
}

.messenger-contact.xa {
    background-image: url(/images/messenger/icon_xa.png);
}

.messenger-contact.available span[unselectable],
.messenger-contact.away span[unselectable] {
    color: black;
}

.messenger-contact.donotdisturb {
    background-image: url(/images/messenger/icon_dnd.png);
}

.messenger-contact.donotdisturb span[unselectable] {
    color: red;
}

.messenger-contact.subscribe {
    background-image: url(/images/messenger/icon_subscribe.png);
}
.messenger-contact.subscribe span[unselectable] {
    color: #B3B3B3;
    font-weight: 400;

}
.messenger-contact.none {
    background-image: url(/images/messenger/icon_none.png);
}
.messenger-contact.none span[unselectable] {
    color: #B3B3B3;
    font-weight: 400;

}
.messenger-contact.from {
    background-image: url(/images/messenger/change_status.png);
}
.messenger-contact.from span[unselectable] {
    color: #B3B3B3;
    font-weight: 400;
}
.messenger-contact.unsubscribed {
    background-image: url(/images/messenger/icon_cancel.png);
}

.messenger-contact.unsubscribed span[unselectable] {
    color: #B3B3B3;
}

.messenger-contact.waiting {
    background-image: url(/images/messenger/icon_question.png);
}

.messenger-contact.waiting span[unselectable] {
    color: #B3B3B3;
}

.messenger-group {
    background-image: url(/images/messenger/group.png);
    background-position-x: 15px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.messenger-client-tbar {
    background: transparent;
    border-color: #bebebe;
}

.messenger-group img.x-tree-node-icon {
    background-image: none;
}

.x-tree-lines .x-tree-elbow {
    background-image: none !important;
    width: 0 !important;
}

.x-tree-lines .x-tree-elbow-end {
    background-image: none !important;
    width: 0 !important;
}

.x-tree-node-leaf .x-tree-node-icon {
    background-image: none !important;
}

#loghandler .msg {
    width: 95%;
    min-height: 25px;
    background-color: #444;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
    float: left;
    font: 1.1em;
    color: #fff;
    margin-top: 5px;
    padding: 6px 10px;
    overflow: hidden;
    white-space: pre-line;
}
#loghandler .msg .title {
    font-size: 120%;
    font-weight: bold;
    display: block;
}
#loghandler .msg .body {
    display: block;
}
#loghandler {
    width: 250px;
    min-height: 10px;
    position: fixed;
    right: 20px;
    bottom: auto;
    top: 30px;
    z-index: 9999;
/*    display: none;*/
/*    border:solid red 1px;*/
}

/* PRESENCE */
/*.messenger-presence-offline {
    background-image: url(/images/icon-offline.gif);
    background-repeat: no-repeat;
    padding-left: 12px;
}

.messenger-presence-away {
    background-image: url(/images/icon-offline.gif);
    background-repeat: no-repeat;
    padding-left: 12px;
}

.messenger-presence-online {
    background-image: url(/images/icon-presence.gif);
    background-repeat: no-repeat;
    padding-left: 12px;
}*/

#credential {
    font-size: 100%;
    width: 145px;
    height: 35px;
    display: block;
    float: left;
    overflow: hidden;
}

#credential img {
    width: 40px;
    height: 99%;
    float: left;
}

#credential .name {
    max-width: 100px;
    font-size: 100%;
    font-weight: bold;
    float: left;
    white-space: pre-line;
    margin: 3px 0 5px 5px;
}
.messenger-connect-display img{
    position: absolute;
    top: 115px;
    left: 70px;
}
.messenger-connect-cmd {
    position: absolute;
    top: 140px;
    left: 68px;
}