#messenger {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

#messenger:hover {
    text-decoration: underline;
}

.messenger-icon {
    background-image: url(/images/messenger/talk-balloons.png);
    background-repeat: no-repeat;
    padding-left: 12px;
}
.messenger-icon-off {
    background-image: url(/images/messenger/talk-balloons-off.png);
    background-repeat: no-repeat;
    padding-left: 12px;
}

.chat-message {
    font-size: 1.2em;
    padding: 4px;
    border-bottom: 1px solid #bebebe;
}

.chat-message .x-panel-body {
    border: 0;
}

.text-sender {
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}

.messenger-receive {
    color: blue;
}

.messenger-receive strong {
    color: #0000a8;
    font-weight: bold;
}

.messenger-send {
    color: red;
}

.messenger-send strong {
    color: #a80000;
    font-weight: bold;
}

.messenger-notify {
    color: green;
    font-weight: bold;
}

.messenger-treeview .x-panel-body {
    width: 100%;
    height: 100%;
}

.messenger-contact {
    font-size: 12px;
    margin-bottom: 5px;
}

.messenger-contact-unavailable {
    background-image: url(/images/messenger/icon_unavailable.png);
    background-repeat: no-repeat;
    background-position-x: 15px
}

.messenger-contact-unavailable span[unselectable] {
    color: #B3B3B3;
}

.messenger-contact-available {
    background-image: url(/images/messenger/icon_available.png);
    background-repeat: no-repeat;
    font-weight: bold;
    background-position-x: 15px
}

.messenger-contact-away {
    background-image: url(/images/messenger/icon_away.png);
    background-repeat: no-repeat;
    font-weight: bold;
    background-position-x: 15px
}

.messenger-contact-xa {
    background-image: url(/images/messenger/icon_xa.png);
    background-repeat: no-repeat;
    font-weight: bold;
    background-position-x: 15px
}

.messenger-contact-available span[unselectable],
.messenger-contact-away span[unselectable] {
    color: black;
}

.messenger-contact-donotdisturb {
    background-image: url(/images/messenger/icon_dnd.png);
    background-repeat: no-repeat;
    font-weight: bold;
    background-position-x: 15px
}

.messenger-contact-donotdisturb span[unselectable] {
    color: red;
}

.messenger-contact-unsubscribed {
    background-image: url(/images/messenger/icon_cancel.png);
    background-repeat: no-repeat;
    font-weight: bold;
    background-position-x: 15px
}

.messenger-contact-unsubscribed span[unselectable] {
    color: #B3B3B3;
}

.messenger-contact-waiting {
    background-image: url(/images/messenger/icon_question.png);
    background-repeat: no-repeat;
    font-weight: bold;
    background-position-x: 15px
}

.messenger-contact-waiting span[unselectable] {
    color: #B3B3B3;
}

.messenger-group {
    background-image: url(/images/messenger/group.png);
    background-position-x: 15px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.messenger-group img.x-tree-node-icon {
    background-image: none;
}

.x-tree-lines .x-tree-elbow {
    background-image: none !important;
    width: 0 !important;
}

.x-tree-lines .x-tree-elbow-end {
    background-image: none !important;
    width: 0 !important;
}

.x-tree-node-leaf .x-tree-node-icon {
    background-image: none !important;
}

#loghandler .msg {
    width: 95%;
    min-height: 25px;
    background-color: #555;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.85;
    float: left;
    font: 1.2em;
    color: #fff;
    margin-top: 5px;
    padding: 6px 10px;
    overflow: hidden;
    white-space: pre-line;
}
#loghandler .msg .title {
    font-size: 120%;
    font-weight: bold;
    display: block;
}
#loghandler .msg .body {
    display: block;
}
#loghandler {
    width: 250px;
    min-height: 10px;
    position: fixed;
    right: 20px;
    bottom: auto;
    top: 30px;
    z-index: 9999;
/*    display: none;*/
/*    border:solid red 1px;*/
}

/* PRESENCE */
/*.messenger-presence-offline {
    background-image: url(/images/icon-offline.gif);
    background-repeat: no-repeat;
    padding-left: 12px;
}

.messenger-presence-away {
    background-image: url(/images/icon-offline.gif);
    background-repeat: no-repeat;
    padding-left: 12px;
}

.messenger-presence-online {
    background-image: url(/images/icon-presence.gif);
    background-repeat: no-repeat;
    padding-left: 12px;
}*/